/* src/components/ModuleColumn.css */
.module-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevent scrolling */
}

.module-block {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 15px;
  width: auto; /* Reduced width to fit more items */
  height: 100%; /* Occupy full height of the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Prevent block overflow */
}

.module-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns layout */
  gap: 8px; /* Reduced spacing between blocks */
  height: 100%; /* Ensure grid takes full height */
  overflow-y: hidden; /* Prevent vertical scrolling */
}

.module-card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 0.9rem; /* Smaller text to fit better */
  color: grey;
}

.module-card:hover {
  /* transform: scale(1.05); */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  /* background-color: green; */
  color: black;
}

.icon {
  font-size: 1.2rem; /* Reduced icon size */
}
